In [ ]:
import os
import numpy as np
import pandas as pd
from sklearn.linear_model import LabelEncoder

In [22]:
DATA_DIR = os.getcwd()  # put train.csv/test.csv in the same folder as this notebook
TRAIN_PATH = os.path.join(DATA_DIR, 'train.csv')
TEST_PATH  = os.path.join(DATA_DIR, 'test.csv')

In [59]:
train_path = r'C:\Users\1\Desktop\대학원\1-1\머신러닝과 응용\과제\train.csv'
test_path = r'C:\Users\1\Desktop\대학원\1-1\머신러닝과 응용\과제\test.csv'

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

print('Train shape:', train_data.shape)
print('Test shape:', test_data.shape)
display(train_data.head(20))
display(test_data.head(10))

Train shape: (32950, 21)
Test shape: (8238, 20)

,id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,19495,36,technician,married,university.degree,no,yes,yes,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,no
1,38793,28,admin.,single,university.degree,no,yes,no,cellular,nov,...,2,999,0,nonexistent,-3.4,92.649,-30.1,0.714,5017.5,no
2,27160,57,management,divorced,professional.course,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,no
3,36476,24,blue-collar,single,basic.9y,no,unknown,unknown,cellular,jun,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,no
4,38007,24,student,single,basic.9y,no,unknown,unknown,cellular,sep,...,1,999,0,nonexistent,-3.4,92.379,-29.8,0.788,5017.5,yes
5,16823,54,technician,married,high.school,unknown,yes,yes,telephone,jul,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
6,35400,25,blue-collar,single,basic.9y,no,no,no,cellular,may,...,3,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no
7,15785,43,admin.,married,high.school,no,yes,no,cellular,jul,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
8,27842,56,retired,married,university.degree,no,yes,yes,cellular,mar,...,2,999,0,nonexistent,-1.8,92.843,-50.0,1.629,5099.1,no
9,25906,30,blue-collar,married,basic.9y,no,yes,no,cellular,nov,...,1,999,1,failure,-0.1,93.200,-42.0,4.120,5195.8,no
10,31059,36,management,married,basic.9y,no,yes,yes,cellular,may,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
11,26881,30,admin.,single,university.degree,no,no,no,cellular,nov,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
12,6802,33,admin.,divorced,university.degree,no,no,no,telephone,may,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13,34139,32,blue-collar,single,basic.4y,no,yes,yes,cellular,may,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
14,19560,30,blue-collar,single,high.school,no,yes,no,cellular,aug,...,7,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,no
15,20119,52,services,married,high.school,unknown,yes,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
16,21551,42,technician,divorced,professional.course,no,yes,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
17,12960,41,blue-collar,married,unknown,no,no,no,cellular,jul,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
18,5259,38,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
19,8189,40,blue-collar,married,basic.6y,unknown,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no

,id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,8626,27,technician,single,university.degree,no,no,yes,telephone,jun,wed,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
1,6749,29,services,married,basic.9y,no,yes,no,telephone,may,wed,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,7227,59,admin.,married,high.school,no,yes,no,telephone,may,thu,4,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
3,12558,52,entrepreneur,married,university.degree,no,yes,no,cellular,jul,mon,3,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
4,9628,40,technician,married,professional.course,no,no,no,telephone,jun,mon,1,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
5,37055,45,admin.,married,university.degree,no,yes,no,cellular,jul,wed,1,999,0,nonexistent,-2.9,92.469,-33.6,1.029,5076.2
6,15893,26,services,single,high.school,no,yes,no,cellular,jul,mon,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
7,35390,47,entrepreneur,married,university.degree,no,no,no,cellular,may,fri,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
8,2885,36,admin.,divorced,high.school,no,yes,no,telephone,may,wed,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
9,18684,25,admin.,single,basic.9y,no,yes,no,cellular,jul,thu,18,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1

In [24]:
train_data.keys()

Index(['id', 'age', 'job', 'marital', 'education', 'default', 'housing',
       'loan', 'contact', 'month', 'day_of_week', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [17]:
print('\nTarget distribution (y):')
print(train_data['y'].value_counts(dropna=False))

print('\nMissing values per column (train):')
print(train_data.isna().sum())

Target distribution (y):
y
no     29238
yes     3712
Name: count, dtype: int64

Missing values per column (train):
id                0
age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [47]:
print('\nUnknown label counts in categorical columns (train_data):')
cat_cols_all = ['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
for c in cat_cols_all:
    if c in train_data.columns:
        unk = (train_data[c].astype(str).str.lower() == 'unknown').sum()
        print(f'{c}: {unk}')

Unknown label counts in categorical columns (train_data):
job: 262
marital: 62
education: 1371
default: 6859
housing: 790
loan: 790
contact: 0
month: 0
day_of_week: 0
poutcome: 0

In [48]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(handle_unknown='ignore')

In [49]:
train_data['job'] = train_data['job'].astype('category')
train_data['marital'] = train_data['marital'].astype('category')
train_data['education'] = train_data['education'].astype('category')
train_data['default'] = train_data['default'].astype('category')
train_data['housing'] = train_data['housing'].astype('category')
train_data['contact'] = train_data['contact'].astype('category')
train_data['month'] = train_data['month'].astype('category')
train_data['day_of_week'] = train_data['day_of_week'].astype('category')
train_data['poutcome'] = train_data['poutcome'].astype('category')

In [50]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32950 non-null  int64
 1   age             32950 non-null  int64
 2   job             32950 non-null  category
 3   marital         32950 non-null  category
 4   education       32950 non-null  category
 5   default         32950 non-null  category
 6   housing         32950 non-null  category
 7   loan            32950 non-null  object
 8   contact         32950 non-null  category
 9   month           32950 non-null  category
 10  day_of_week     32950 non-null  category
 11  campaign        32950 non-null  int64
 12  pdays           32950 non-null  int64
 13  previous        32950 non-null  int64
 14  poutcome        32950 non-null  category
 15  emp.var.rate    32950 non-null  float64
 16  cons.price.idx  32950 non-null  float64
 17  cons.conf.idx   32950 non-null  float64
 18  euribor3m       32950 non-null  float64
 19  nr.employed     32950 non-null  float64
 20  y               0 non-null      float64
dtypes: category(9), float64(6), int64(5), object(1)
memory usage: 3.3+ MB

In [56]:
train_data['y'] = train_data['y'].map({'yes': 1, 'no': 0})

In [57]:
df = pd.DataFrame(train_data)
df.head()

,id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,19495,36,technician,married,university.degree,no,yes,yes,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,0
1,38793,28,admin.,single,university.degree,no,yes,no,cellular,nov,...,2,999,0,nonexistent,-3.4,92.649,-30.1,0.714,5017.5,0
2,27160,57,management,divorced,professional.course,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
3,36476,24,blue-collar,single,basic.9y,no,unknown,unknown,cellular,jun,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2,0
4,38007,24,student,single,basic.9y,no,unknown,unknown,cellular,sep,...,1,999,0,nonexistent,-3.4,92.379,-29.8,0.788,5017.5,1

In [58]:
df.describe()

,id,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
count,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000,32950.000000
mean,20572.367527,40.010561,2.569347,962.383338,0.172049,0.081873,93.574727,-40.502194,3.623780,5167.204701,0.112656
std,11887.028106,10.415313,2.774591,187.141359,0.492613,1.572049,0.579442,4.631271,1.732958,72.041184,0.316176
min,1.000000,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,10272.250000,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,20587.000000,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,30854.750000,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,41187.000000,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(train_data['job_data_'])